.NavSideBar{
    display: flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
    gap: 5px;
    background-color: var(--color-primary);
    height: 100vh;
    overflow-y:auto;
    overflow-x: hidden;

    width: 4.1rem;
    transition: width 0.2s ease;

}

.NavSideBar ul{
    list-style: none;
    width: 100%;
    padding: 0 0 0 0;
}

.NavSideBar li a{
    text-decoration: none;
    color: var(--color-text);
    text-align: center;
    background-color: var(--color-accent);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    min-width:min-content;
    max-width: 100%;
    font-size: 0.7rem;
}

.NavSideBar li a:hover{
    background-image: linear-gradient(color-mix(in lab, var(--color-accent) 100%, #ffffff 20%), var(--color-accent));
}

.NavSideBar:hover{
    width: 14rem;
}

.NavSideBar li a h2{

    display: none;
    padding-right: 5px;
}

.NavSideBar:hover li a h2{

    display: inline;
}

.Icon{
   font-size: 2rem;
}

.NavSideBar i{
    font-size: 2rem;
}

button {
    border-radius: 5px;
    border-style: none;
}